footer
  .container-fluid.footer-block
    .container
      hr
      .container.col-12.col-md-12.col-lg-10
        .row.m-custum
          .col-12.col-md-3
            h2.footer-col1
              | DREAMSHARE
          .col-12.col-md-3
            p.footer-col2 Company
            .row.mobile-block
              .col-3
                a.href-text(href='#!') About
              .col-3
                a.href-text(href='#!') Contact
              .col-3
                a.href-text(href='#!') Press
              .col-3
                a.href-text(href='#!') Blog
              .col-1
              .col-7
                a.href-text(href='#!') Trems and Privacy
              .col-2
                a.href-text(href='#!') Help
              .col-1
          .col-12.col-sm-3.col-md-3
            p.footer-col3 Partners
          .col-12.col-sm-3.col-md-3
            p.footer-col4 DESIGNED BY
            p.mobile-footer-logo.footer-logo
        .row.desctop-block
          .col-12.col-sm-3.col-md-3
          .col-12.col-sm-3.col-md-3.href-text-block
            ul.list-unstyled
              li
                a.href-text(href='#!') About
              li
                a.href-text(href='#!') Contact
              li
                a.href-text(href='#!') Press
              li
                a.href-text(href='#!') Blog
              li
                a.href-text(href='#!') Trems and Privacy
              li
                a.href-text(href='#!') Help
          .col-12.col-sm-3.col-md-3
          .col-12.col-sm-3.col-md-3
            p.footer-logo